#ifdef APSTUDIO_INVOKED
 #error This file cannot be edited using the Visual C resource editor
#endif

#define MAKE_STRING_2(s) #s
#define MAKE_STRING(s) MAKE_STRING_2(s)

#ifdef __GNUC__
 #define _WIN32_WINDOWS 0x410
 #define _WIN32_IE 0x0500
#endif

// For version macros
#include "..\..\burn\version.h"
// For APP_TITLE and APP_DESCRIPTION macros (both include quotes)
#include "..\title.h"

// String IDs
#include "resource_string.h"

#ifdef __GNUC__
 #include "app_gnuc.rc"
#else
 #include "app.rc"
#endif

// Version resource
#include "version.rc"

// Manifest for Windows in themed mode
#ifdef RES_X64
APP_MANIFEST RT_MANIFEST "resource/manifest-x64.xml"
#else
APP_MANIFEST RT_MANIFEST "resource/manifest.xml"
#endif

// License (we need to use a custom resource type, since Windres doesn't understand rcdata strings
ID_LICENSE 256 "..\..\generated\license.rtf"

// GUI strings
#include "string.rc"
