
STRINGTABLE DISCARDABLE
BEGIN
	IDS_FIRSTRUN1			"This appears to be the first time you run %s v%.20s.\n\n"
	IDS_FIRSTRUN2			"Please take some time to match the audio/video settings to your system capabilities and personal preferences. If you continue to use and/or distribute this software, you must agree to be bound by the terms of license agreement, which is always accessible via the about dialog.\n\n"
	IDS_FIRSTRUN3A			"Note that this is alpha quality software. As such, it likely will exhibit problems, including audio/video options not behaving correctly, the emulation of some games misses some features, and may exhibit stability problems. CAVEAT LECTOR!"
	IDS_FIRSTRUN3B			"Note that this is beta quality software. As such, it likely may be missing some features, or exhibit some problems with your system."

	IDS_CHEAT_NAME			"Cheat name"
	IDS_CHEAT_STATUS		"Status"
	IDS_CHEAT_SELECT		"Select cheat file"
	IDS_CHEATSEARCH_ERROR	"Cheat search error"
	IDS_CHEATSEARCH_INVALID	"Please enter a valid value for a search!"
	IDS_CHEATSEARCH_ADDRESS	"Address"
	IDS_CHEATSEARCH_VALUE	"Value"
	IDS_CHEATSEARCH_PREV	"Previous"

	IDS_INPUT_INPUT			"Game input"
	IDS_INPUT_MAPPING		"Mapped to"
	IDS_INPUT_STATE			"State"
	IDS_INPUT_INP_PLAYER	"Player %i"
	IDS_INPUT_INP_KEYBOARD	"Keyboard"
	IDS_INPUT_INP_JOYSTICK	"Joystick %i"
	IDS_INPUT_INP_XARCADEL	"X-Arcade (left side)"
	IDS_INPUT_INP_XARCADER	"X-Arcade (right side)"
	IDS_INPUT_INP_HOTRODL	"Hot Rod (left side)"
	IDS_INPUT_INP_HOTRODR	"Hot Rod (right side)"
	IDS_INPUT_ANALOG_ABS	"Absolute"
	IDS_INPUT_ANALOG_AUTO	"Auto-center"
	IDS_INPUT_ANALOG_NORMAL	"Normal"

	IDS_NUMDLG_FRAME		"%d frames, audio is delayed by approx. %ims"
	IDS_DEVICEDLG_SEL		"Select device"

	IDS_DIP_GROUP			"DIPSwitch group"
	IDS_DIP_SETTING			"Setting"

	IDS_LOCAL_SELECT		"Select language"
	IDS_GAMELIST_SELECT		"Select gameilst file"
	IDS_GAMELIST_CREATE		"Create gameilst file"

	IDS_INPSET_MOVENAME		"Move control or press key for %.100hs"
	IDS_INPSET_MOVE			"Move control or press key"
	IDS_INPSET_WAITING		"Waiting for %.80s to be released..."

	IDS_MEMCARD_CREATE		"Create new memory card"
	IDS_MEMCARD_SELECT		"Select new memory card"

	IDS_MAPHOTKEY_TIP		"Double-click a command to change its mapping"
	IDS_MAPHOTKEY_CLICKTIP	"Setting key: %s"

	IDS_PROGRESS_LOADING	"Loading and initialising %s..."

	IDS_JUKE_CODE			"Code"
	IDS_JUKE_DESC			"Description"

	IDS_REPLAY_RECORD		"Record input to file"
	IDS_REPLAY_REPLAY		"Replay input from file"

	IDS_COLOR_CONTRAST		"Contrast: %d%%"
	IDS_COLOR_BRIGHTNESS	"Brightness: %d%%"
	IDS_COLOR_GAMMA			"Gamma: %d%%"

	IDS_ROMS_SELECT_DIR		"Select Directory:"

	IDS_STATE_LOAD			"Load state"
	IDS_STATE_SAVE			"Save state"
	IDS_STATE_ACTIVESLOT	"slot %d active"
	IDS_STATE_LOADED		"state loaded"
	IDS_STATE_LOAD_ERROR	"load error"
	IDS_STATE_SAVED			"state saved"
	IDS_STATE_SAVE_ERROR	"save error"

	IDS_DAT_GENERATE		"Generate %s dat"
	IDS_SCRN_NOGAME			"no game loaded"

	IDS_NETPLAY_START		"*** Starting netplay: "
	IDS_NETPLAY_START_YOU	"*** You are player %i. "
	IDS_NETPLAY_START_TOTAL	"There are %i total players."
	IDS_NETPLAY_DROP		"*** Player %1i %.32hs dropped from the game."
	IDS_NETPLAY_TOOMUCH		"too much text"

	IDS_SSHOT_SAVED			"Shot saved"
	IDS_SSHOT_ERROR			"PNG error %1d"

	IDS_REC_AVI				"Rec AVI ON"
	IDS_STOP_AVI			"Rec AVI OFF"
	IDS_SELECT_AVIFILE		"Record to AVI file"

	IDS_SPEEDSET			"speed %02i %%"
	IDS_REP_UNDO			"Undo"
	IDS_REP_REWIND			"Rewind"

	IDS_SOUND_NOVOLUME		"No volume control"
	IDS_SOUND_VOLUMESET		"volume %03i %%"

	IDS_DISK_REPLAY			"This input recording"
	IDS_DISK_THIS_REPLAY	"input recording."
	IDS_DISK_FILE_REPLAY	"%s movie files"
	IDS_DISK_STATE			"state file"
	IDS_DISK_THIS_STATE		"This state file"
	IDS_DISK_FILE_STATE		"%s state files"
	IDS_DISK_SOUND			"sound recording"
	IDS_DISK_THIS_SOUND		"This sound recording"
	IDS_DISK_FILE_SOUND		"%s sound files"
	IDS_DISK_FILE_CARD		"%s memory card files"
	IDS_DISK_ALL_CARD		"All memory card files"
	IDS_DISK_ALL_DAT		"All Dat files"
	IDS_DISK_TEXT			"Text files"

	IDS_DISK_SAVEREPORT		"Save system information report"

	IDS_SEL_GAMECOUNT		"%d games | %d clones"
	IDS_SELTAB_LIST			"List"
	IDS_SELTAB_FILTER		"Filter"
	IDS_SELTAB_SYSTEM		"System"
	IDS_SELTAB_ETC			"ETC"
	IDS_IMAGETAB_TITLE		"Title"
	IDS_IMAGETAB_PREVIEW	"Preview"
	IDS_IMAGETAB_FLYER		"Flyer"
	IDS_IMAGETAB_SCORE		"Score"
	IDS_IMAGETAB_SELECT		"Select"
	IDS_IMAGETAB_GAMEOVER	"GameOver"
	IDS_IMAGETAB_BOSS		"Boss"
	IDS_SEL_LOADNONWORK		"This game isn't working. Load it anyway?"

	IDS_SEL_HARDWARE		"Any System"
	IDS_SEL_CAVE			"Cave"
	IDS_SEL_CPS1			"CPS-1"
	IDS_SEL_CPS2			"CPS-2"
	IDS_SEL_CPS3			"CPS-3"
	IDS_SEL_GALAXIAN		"Galaxian"
	IDS_SEL_KANEKO16		"Kaneko 16"
	IDS_SEL_KONAMI			"Konami"
	IDS_SEL_NEOGEO			"Neo Geo"
	IDS_SEL_PACMAN			"Pacman"
	IDS_SEL_PGM				"PGM"
	IDS_SEL_PSIKYO			"Psikyo"
	IDS_SEL_SEGA			"Sega"
	IDS_SEL_TAITO			"Taito"
	IDS_SEL_TOAPLAN			"Toaplan"
	IDS_SEL_ATARI			"Atari"
	IDS_SEL_MISC			"Misc"
	IDS_SEL_MEGADRIVE		"Megadrive"

	IDS_IPSMANAGER			"IPS Settings"
	IDS_AUTOFIRE_ON			"Autofire P%d F%d on"
	IDS_AUTOFIRE_OFF		"Autofire P%d F%d off"

	IDS_HOTKEY_PAUSE		"Pause"
	IDS_HOTKEY_FASTFOWARD	"Fast forward"
	IDS_HOTKEY_FRAMEADVANCE	"Frame advance"
	IDS_HOTKEY_READONLY		"Read-only toggle"
	IDS_HOTKEY_DECSPEED		"Decrease speed"
	IDS_HOTKEY_INCSPEED		"Increase speed"
	IDS_HOTKEY_FRAMECOUNTER	"Frame counter"
	IDS_HOTKEY_SCREENSHOT	"Take screenshot"
	IDS_HOTKEY_LOADSTATE1	"Load state 1"
	IDS_HOTKEY_LOADSTATE2	"Load state 2"
	IDS_HOTKEY_LOADSTATE3	"Load state 3"
	IDS_HOTKEY_LOADSTATE4	"Load state 4"
	IDS_HOTKEY_LOADSTATE5	"Load state 5"
	IDS_HOTKEY_LOADSTATE6	"Load state 6"
	IDS_HOTKEY_LOADSTATE7	"Load state 7"
	IDS_HOTKEY_LOADSTATE8	"Load state 8"
	IDS_HOTKEY_LOADSTATE9	"Load state 9"
	IDS_HOTKEY_SAVESTATE1	"Save state 1"
	IDS_HOTKEY_SAVESTATE2	"Save state 2"
	IDS_HOTKEY_SAVESTATE3	"Save state 3"
	IDS_HOTKEY_SAVESTATE4	"Save state 4"
	IDS_HOTKEY_SAVESTATE5	"Save state 5"
	IDS_HOTKEY_SAVESTATE6	"Save state 6"
	IDS_HOTKEY_SAVESTATE7	"Save state 7"
	IDS_HOTKEY_SAVESTATE8	"Save state 8"
	IDS_HOTKEY_SAVESTATE9	"Save state 9"
	IDS_HOTKEY_SELPREVSTAT	"Select previous slot"
	IDS_HOTKEY_SELNEXTSTAT	"Select next slot"
	IDS_HOTKEY_LOADCURSTAT	"Load current state"
	IDS_HOTKEY_SAVECURSTAT	"Save current state"
	IDS_HOTKEY_LOADSTATDIAG	"Load state dialog"
	IDS_HOTKEY_SAVESTATDIAG	"Save state dialog"
	IDS_HOTKEY_STARTRECORD	"Start recording"
	IDS_HOTKEY_PLAYRECORD	"Start playback"
	IDS_HOTKEY_ENDRECORD	"Stop movie"
	IDS_HOTKEY_STARTAVI		"Start AVI capture"
	IDS_HOTKEY_ENDAVI		"Stop AVI capture"
	IDS_HOTKEY_CHEATEDIT	"Cheat editor"
	IDS_HOTKEY_CHEATSEARCH	"Cheat search"
	IDS_HOTKEY_VOLUMEDOWN	"Volume down"
	IDS_HOTKEY_VOLUMEUP		"Volume up"
	IDS_HOTKEY_SHOWFPS		"Show FPS"
	IDS_HOTKEY_OPENGAME		"Open game"
	IDS_HOTKEY_QUICKOPEN	"Quick open game"
	IDS_HOTKEY_EXITGAME		"Exit game"
	IDS_HOTKEY_CONFIGPAD	"Configure controllers"
	IDS_HOTKEY_DIPSW		"DIP switches"
	IDS_HOTKEY_SHOTFACT		"Shot factory"
	IDS_HOTKEY_WINSIZE1		"Window size 1x"
	IDS_HOTKEY_WINSIZE2		"Window size 2x"
	IDS_HOTKEY_WINSIZE3		"Window size 3x"
	IDS_HOTKEY_WINSIZE4		"Window size 4x"
	IDS_HOTKEY_WINSIZEMAX	"Window size max"
	IDS_HOTKEY_PREVFILTER	"Select previous filter"
	IDS_HOTKEY_NEXTFILTER	"Select next filter"
	IDS_HOTKEY_AUTOFIREP11	"P1 autofire button1"
	IDS_HOTKEY_AUTOFIREP12	"P1 autofire button2"
	IDS_HOTKEY_AUTOFIREP13	"P1 autofire button3"
	IDS_HOTKEY_AUTOFIREP14	"P1 autofire button4"
	IDS_HOTKEY_AUTOFIREP21	"P2 autofire button1"
	IDS_HOTKEY_AUTOFIREP22	"P2 autofire button2"
	IDS_HOTKEY_AUTOFIREP23	"P2 autofire button3"
	IDS_HOTKEY_AUTOFIREP24	"P2 autofire button4"
	IDS_HOTKEY_FULLSCREEN	"Toggle fullscreen"
	IDS_HOTKEY_FAKEFULL		"Fake fullscreen"
	IDS_HOTKEY_CHAT			"Chat during netplay"
	IDS_HOTKEY_CHATSEND		"Send chat during netplay"

	IDS_PREF_ARCADE			"Arcade"
	IDS_PREF_RES1X			"1x"
	IDS_PREF_RES2X			"2x"
	IDS_PREF_RES3X			"3x"
	IDS_PREF_RES4X			"4x"
	IDS_PREF_RESOTHER		"Other..."
	IDS_PREF_MENUNONE		"None"
	IDS_PREF_MENUBASIC		"Basic"
	IDS_PREF_MENUGRAY		"Gray"
	IDS_PREF_MENUOFFICE		"Office"
	IDS_PREF_MENUOFFICE2K3	"Office2003"
	IDS_PREF_MENUOFFICE2K7	"Office2007"
	IDS_PREF_MENUEXTRA		"Extra"
	IDS_PREF_EFFECTNONE		"None"
	IDS_PREF_EFFECTBURN		"Burn"
	IDS_PREF_EFFECTSMOKE	"Smoke"
	IDS_PREF_EFFECTWATER	"Water"
	IDS_PREF_EFFECTTV		"TV"
	IDS_PREF_SETTINGS		"Settings"
	IDS_PREF_PATHSETTING	"Path setting"

	IDS_ERR_ERROR			"Error"
	IDS_ERR_WARNING			"Warning"
	IDS_ERR_INFORMATION		"Information"
	IDS_ERR_UNKNOWN			"Unknown"

	IDS_ERR_LOAD_OK			"The ROMset is OK."
	IDS_ERR_LOAD_PROBLEM	"The ROMset exhibits the following problems:"
	IDS_ERR_LOAD_NODATA		"No data was found, the game will not run!"
	IDS_ERR_LOAD_ESS_MISS	"essential data is missing, the game will not run!"
	IDS_ERR_LOAD_ESS_BAD	"essential data is invalid, the game might not run!"
	IDS_ERR_LOAD_DATA_MISS	"data is missing."
	IDS_ERR_LOAD_DATA_BAD	"data is invalid."
	IDS_ERR_LOAD_FOUND		"%.32hs was found (%.512s).\n"
	IDS_ERR_LOAD_NOTFOUND	"%.32hs was not found.\n"
	IDS_ERR_LOAD_INVALID	"The following ROMs are invalid:\n"
	IDS_ERR_LOAD_CRC		"%.32hs has a CRC of %.8X (correct is %.8X).\n"
	IDS_ERR_LOAD_SMALL		"%.32hs is %dk which is too small (correct is %dkB).\n"
	IDS_ERR_LOAD_LARGE		"%.32hs is %dk which is too large (correct is %dkB).\n"
	IDS_ERR_LOAD_DET_ESS	"essential "
	IDS_ERR_LOAD_DET_PRG	"program "
	IDS_ERR_LOAD_DET_BIOS	"BIOS "
	IDS_ERR_LOAD_DET_GRA	"graphics "
	IDS_ERR_LOAD_DET_SND	"sound "
	IDS_ERR_LOAD_DET_ROM	"ROM "
	IDS_ERR_LOAD_DISK		"Error reading %.32hs from %.512s"
	IDS_ERR_LOAD_DISK_CRC	"CRC mismatch reading %.32hs from %.512s"
	IDS_ERR_LOAD_REQUEST	"Error loading %.32hs, requested by %.128s.\nThe emulation will likely suffer problems."

	IDS_ERR_BURN_INIT		"There was a problem starting '%.128s'.\n"

	IDS_ERR_UI_NOSUPPORT	"%.32s is not supported by %.32s."
	IDS_ERR_UI_WINDOW		"Couldn't create main window."
	IDS_ERR_UI_MODULE		"Couldn't initialise '%s' module."
	IDS_ERR_UI_TRIPLE		"Couldn't create a triple buffer."
	IDS_ERR_UI_FULL_NOMODE	"No appropriate display mode supported. Please adjust your full-screen settings."
	IDS_ERR_UI_FULL_PROBLEM	"Problem setting '%dx%dx%dbpp (%dHz)' display mode"
	IDS_ERR_UI_FULL_CUSTRES	"\n\nThis is not a standard VGA resolution; please make sure it is supported by your video card."

	IDS_ERR_DISK_CREATE		"Error creating "
	IDS_ERR_DISK_LOAD		"Error loading "
	IDS_ERR_DISK_UNAVAIL	" is for an unavailable game."
	IDS_ERR_DISK_TOONEW		" does not work with this version of %s."
	IDS_ERR_DISK_TOOOLD		" requires a more recent version of %s, please upgrade."
END
